body{
    padding: 0;
    margin: 0;
    border: 0;
}

.section-1, .section-2{
    display: grid;
    grid-template-columns: .5fr 1fr;
    height: 100vh;
    overflow: hidden;
}

.left{
    padding: 3em 3em 0em 3em;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

a, li{
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    color: black;
}

.address{
    padding-top: 6em;
    line-height: 1.5rem;
    color: rgb(63, 59, 59);
}
.phone-number{
    line-height: 1.5rem;
    color: rgb(45, 45, 189);
    font-weight: bold;
}
ul{
    padding-left: 10%;
}
.logo-img{
    max-width: 150px;
    padding: 10%;
}
.right{
    background: #ed4852;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ed4852 0%, #9c1b24 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    max-height: 100vh;
}
button{
    margin: 5em 0em 0em 7em;
}

h1{
    margin: 1em 0em 0em 7em;
    color: white;
    font-size: 1.8em;
}
.new{
    background: black;
    color: white;
    border: none;
    border-radius: 20%;
    font-size: 1.5em;
    margin-top: 2%;
}
.burger{
    max-width: 100%;
    padding-left: 5%;
    padding-top: 8%;
}

.section-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}
.right-2{
    height: 100vh;
    width: 100vh;
}
.left-2{ 
    height: 100vh;
    width: 40vw;
}

.middle-img{
    max-width: 100%;
    background-size: cover;
    position: center;
    justify-items: center;
}
.paragraph{
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    color: #525e66;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    padding: 0rem 2rem 2rem 2rem;
}
h2{
    padding: 2rem 2rem 2rem 8rem;
    font-size: 1.4em;
}
.learn{
    font-size: 1.2em;
    padding: 2rem 2rem 2rem 2rem;
    text-transform: uppercase;
}
.section-3-container{
    display: grid;
    height: 60vh;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.food-image{
    max-width: 20px;
    padding-bottom: 0;
}
.three-1{
    max-width: 200px;
}
.burger-2{
    max-width: 200px;
    padding-top: 100%;
}
.dessert{
    max-width: 200px;
    padding-top: 100%;
}
.menu{
    padding-left: 20%;
font-size: 1.4em;
}
.food-title{
    text-align: center;
    font-size: 2em;
}
.food-description{
    padding: 1em 1em 1em 1em;
}
h4{
    text-align: center;
}



/* -650px*/
@media (max-width: 650px) {
    .right{
        padding-top: 30%;
    }
    .left{
        padding-left: 0;
    }
    .logo-img{
        max-width: 100px;
        padding: 10% 0% 10% 15%;
    }
    h1{
        margin: 1em 0em 0em 1em;
        color: white;
        font-size: 1.7em;
    }
    .new{
        background: black;
        color: white;
        border: none;
        border-radius: 20%;
        font-size: 1em;
        margin-top: 3%;
    }
    .address{
        padding-top: 2em;
        line-height: 1.5rem;
        color: rgb(63, 59, 59);
        font-size: .3em;
    }
    .phone-number{
        font-size: .4em;
    }
    .paragraph{
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        color: #525e66;
        font-size: 1rem;
        margin-bottom: 3rem;
        padding: 0rem 10rem 2rem 2rem;
    }
    h2{
        padding: 2rem 2rem 0rem 2rem;
        font-size: 1.4em;
    }
    .middle-img{
        display: none;
    }
    .left-2{ 
        display: none;
    }
    .menu{
        font-size: 1.3em;
        padding: 3%;
        text-align: center;
    }
    .food-title{
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
        padding-left: 10%;

    }
    .food-description{
        padding: 0;
    }
    .three-1{
        max-width: 50px;
        text-align: center;
    }
    .burger-2{
        max-width: 50px;
        padding-top: 0;
    }
    .dessert{
        max-width: 50px;
        padding: 0;
    }

}

/* 651 - 930*/
@media (min-width: 651px) and (max-width: 930px) {
    
    h1{
        margin: 1em 0em 0em 5em;
        color: white;
        font-size: 1.7em;
    }
    .new{
        background: black;
        color: white;
        border: none;
        border-radius: 20%;
        font-size: 1em;
        margin-top: 3%;
    }
    h2{
        padding: 2rem 4rem 0rem 2rem;
        font-size: 1.5em;
    }
    .paragraph{
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        color: #525e66;
        font-size: 1rem;
        margin-bottom: 3rem;
        padding: 0rem 15rem 2rem 1rem;
    }
    .learn{
        font-size: 1.2em;
        padding: 2rem 2rem 2rem 0.5rem;
        text-transform: uppercase;
    }
    .address{
        padding-top: 2em;
        line-height: 1.5rem;
        color: rgb(63, 59, 59);
        font-size: .4em;
    }
    .phone-number{
        font-size: .6em;
    }
    .menu{
        font-size: 1.3em;
        padding: 3%;
        text-align: center;
    }
    .food-description{
        margin: 0;
        padding: 0;
    }
    .food-title{
        font-size: 1.7em;
        font-weight: bold;
        text-align: left;
        padding-left: 10%;
    }
    .three-1{
        max-width: 100px;
    }
    .burger-2{
        max-width: 100px;
        padding-top: 0;
    }
    .dessert{
        max-width: 100px;
        padding: 0;
    }

}

/* +930*/
@media (min-width: 930px) {
    .paragraph{
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        color: #525e66;
        font-size: 1rem;
        margin-bottom: 3rem;
        padding: 0rem 10rem 2rem 8rem;
    }
    .learn{
        font-size: 1.2em;
        padding: 2rem 2rem 2rem 10rem;
        text-transform: uppercase;
    }
    .menu{
        font-size: 1.3em;
        padding: 3%;
        text-align: center;
    }
    .food-description{
        margin: 0;
        padding: 0;
    }
    .food-title{
        font-size: 1.7em;
        font-weight: bold;
        text-align: left;
        padding-left: 1%;
    }
    .three-1{
        max-width: 150px;
    }
    .burger-2{
        max-width: 150px;
        padding-top: 0;
    }
    .dessert{
        max-width: 150px;
        padding: 0;
    }
    .address{
        padding-top: 4em;
    }
    .logo-img{
        max-width: 150px;
        padding: 10% 10% 10% 25%;
    }
    ul{
        padding-left: 1%;
    }

}
